/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: Verdana , sans-serif;
  color: #444444;
  width: 100vw;
  overflow-x: hidden;
  margin: 0px;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  color: #5faee3;
  text-decoration: none;
}

h1{
  /*font-family: Verdana , sans-serif;*/
  font-family: Verdana , sans-serif;
}
h2,
h3,
h4,
h5,
h6 {
  /*font-family: Verdana , sans-serif;*/
  /*font-family: Verdana , sans-serif;*/
}




/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #3498db;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #57aae1;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 1ms !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  z-index: 997;
  transition: all 0.5s;
  padding: 0px;
  margin: 0px;
  background: #fff;
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  /*padding: 12px 0;*/
}

#header .logo h1 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #222222;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  width: 120px;
  max-height: 105px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  font-family: Verdana , sans-serif;
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 400;
  color: #555555;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #3498db;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #3498db;
  padding: 8px 25px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #4aa3df;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #222222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  padding-right: 10px;
  padding-bottom: 10px;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #222222;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #3498db;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
/*#hero .container{*/
/*  padding-left: 40px;*/
/*}*/
#hero {
  width: 100%;
  height: 70vh;
  margin-top: 70px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: black;
}

#hero h2 {
  color: #484848;
  margin-bottom: 50px;
  font-size: 24px;
}
#hero .container{
  padding-left: 70px;
}
@media screen and (max-width: 600px) {
  #hero .container{
    padding-left: 20px;
    padding-bottom: 0;
  }
  #hero {
    padding-bottom: 0;
  }
  hero .btn-get-started{
    padding-bottom: 0;
  }
}

#hero .btn-get-started {
  /*font-family: 'Verdana , sans-serif';*/
  font-family: Verdana , sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: dimgrey;
  border:  2px solid grey;
}

#hero .btn-get-started:hover
{
  /*font-family: Verdana , sans-serif;*/
  background-color: grey;
  color: black;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #hero {
    height: 77vh;
  }

  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero {
    margin-top: 20px;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f7fbfe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  /*color: #222222;*/
  color: #3c3c3c;
  font-size: 27px;
}

.section-title h2::before,
.section-title h2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #3498db;
  display: inline-block;
}

.section-title h2::before {
  margin: 0 15px 10px 0;
}

.section-title h2::after {
  margin: 0 0 10px 15px;
}

.section-title p {
  margin: 15px 0 0 0;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  background: #f3f9fd;
  padding: 10px 0;
  text-align: center;
}

.clients .col-lg-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients img {
  width: 50%;
  filter: grayscale(100);
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 10px 0;
}

.clients img:hover {
  filter: none;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .clients img {
    width: 40%;
  }
}

@media (max-width: 575px) {
  .clients img {
    width: 30%;
  }
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
#about .container{
  padding-left: 120px;
  padding-right: 0;
  /*max-width: 100%;*/
}
@media screen and (max-width: 600px){
  #about .container{
    padding-left: 20px;
    /*padding-right: 0;*/
  }
  #about .section-title h2{
    padding-left: 0;
    text-underline: blue;
    text-underline-style: dash;
  }
  #about .text-center{
    padding-left: 60px;
  }
}

#about .section-title h2{
              text-underline: blue;
              text-underline-style: dash;
}

#about .col-12 img{
            padding-left: 20px;
}
#about .x{
  padding-top: 30px;
}

#about .content ul {
  list-style: none;
  /*padding: 0;*/
}

#about .p-3 ul li+li {
  margin-top: 10px;
}

#about .p-3 ul li{
  font-family: Verdana , sans-serif;
  font-size: 16px;
}

#about .content p:last-child {
  margin-bottom: 0;
}
#about .row{
  /*padding-left: 90px;*/
  padding-bottom: 50px;
}
#about .text-center{
       padding-right: 90px;
}
#about .btn-get-started{
  margin-bottom: 55px;
  font-family: Verdana , sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 50px;
  transition: 0.5s;
  color: dimgrey;
  border: 2px solid grey;
}

#about .btn-get-started:hover {
  background: grey;
  color: black;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding-top: 0;
}

.counts .img-fluid {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
.counts  h1{
   /*font-weight: bolder;*/
  font-size: 34px;
  padding-top: 120px;
  align-content: end;
  letter-spacing: 3px;
}
@media screen and (max-width: 600px) {
  #counts  h1{
    padding-top: 0;
    letter-spacing: 1px;
  }
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #f6f6f6;
  transition: ease-in-out 0.3s;
}

.features .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}

.features .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
}

.features .icon-box h3 a {
  color: #222222;
  transition: ease-in-out 0.3s;
}

.features .icon-box h3 a:hover {
  color: #3498db;
}

.features .icon-box:hover {
  background: #eef7fc;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
/*#testimonials .col-sm{*/
/*  padding: 2px;*/
/*}*/
/*#testimonials .col-12 col-md-4 {*/
/*  display: grid;*/
/*  !*grid-template-areas:*!*/
/*  !*  'header header header header header header'*!*/
/*  !*  'menu main main main right right'*!*/
/*  !*  'menu footer footer footer footer footer';*!*/
/*  gap: 6px;*/
/*  !*background-color: #2196F3;*!*/
/*  padding: 30px;*/
/*}*/


/*@media (max-width: 767px) {*/
/*  .testimonials .testimonial-wrap {*/
/*    padding-left: 0;*/
/*  }*/
#testimonials .inner{
  border-spacing: 5px;
}

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/



